<a href="https://colab.research.google.com/github/Angel353/Concentracion_CADII/blob/main/ValoresNulos/ActividadClase/2_ValoresNulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [70]:
# Importar las librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# **Valores Nulos**

In [ ]:
from google.colab import files
files.upload()

In [72]:
data = pd.read_csv(("inmuebles2.csv"), skiprows = 1)
data.drop(["0","Referencia"], axis = 1, inplace = True)
data

,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
0,2004-01-01 00:00:00,Parking,Alquiler,Lleida,291.0,2133903.0,2004-06-19 00:00:00,Carmen
1,2004-01-01 00:00:00,Local,Venta,Girona,185.0,1945424.0,2004-04-19 00:00:00,Pedro
2,2004-01-01 00:00:00,Oficina,Alquiler,Girona,82.0,NaN,2004-11-08 00:00:00,Joaquín
3,2004-01-02 00:00:00,Parking,Alquiler,Girona,285.0,NaN,2004-04-27 00:00:00,Jesús
4,2004-01-02 00:00:00,Suelo,Venta,Tarragona,152.0,185000.0,2004-07-10 00:00:00,María
...,...,...,...,...,...,...,...,...
3332,2007-04-29 00:00:00,Industrial,Alquiler,Lleida,221.0,1450644.0,NaN,NaN
3333,2007-04-29 00:00:00,Piso,Alquiler,Girona,55.0,454080.0,NaN,NaN
3334,2007-04-30 00:00:00,Suelo,Venta,Tarragona,78.0,740688.0,NaN,NaN
3335,2007-04-30 00:00:00,Piso,Alquiler,Barcelona,88.0,397408.0,NaN,NaN
3336,2007-04-30 00:00:00,Parking,Venta,Lleida,NaN,2140712.0,NaN,NaN

In [73]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3337 entries, 0 to 3336
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha Alta    3335 non-null   object
 1   Tipo          3335 non-null   object
 2   Operación     3336 non-null   object
 3   Provincia     3333 non-null   object
 4   Superficie    3333 non-null   float64
 5   Precio Venta  3331 non-null   float64
 6   Fecha Venta   2759 non-null   object
 7   Vendedor      2759 non-null   object
dtypes: float64(2), object(6)
memory usage: 208.7+ KB

In [74]:
# Valores nulos por columna
data.isnull().sum()

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        4
Precio Venta      6
Fecha Venta     578
Vendedor        578
dtype: int64

In [75]:
# Valores nulos de todo el dataframe:
data.isnull().sum().sum()

1175

In [76]:
# Hacer copia del dataframe para no sesgar los métodos de sustitución
dataCopy = data.copy()

## **Métodos de sustitución**

In [77]:
# Primer método de sustitución (Promedio)
dataCopy["Superficie"] = dataCopy["Superficie"].fillna(round(data["Superficie"].mean(),1))

In [78]:
# Corroboramos valores nulos
dataCopy.isnull().sum()

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      6
Fecha Venta     578
Vendedor        578
dtype: int64

In [79]:
# Segundo método de sustitución (Mediana)
dataCopy["Precio Venta"] = dataCopy["Precio Venta"].fillna(round(data["Precio Venta"].median(),1))

In [80]:
# Corroboramos valores nulos
dataCopy.isnull().sum()

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta     578
Vendedor        578
dtype: int64

In [81]:
# Rellenar por valor numérico en concreto
dataCopy["Fecha Alta"] = dataCopy["Fecha Alta"].fillna(10)

In [82]:
# Corroboramos valores nulos
dataCopy.isnull().sum()

Fecha Alta        0
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta     578
Vendedor        578
dtype: int64

In [83]:
# Rellenar con un string en concreto
dataCopy["Fecha Venta"] = dataCopy["Fecha Venta"].fillna("2030-06-19 00:00:00")

In [84]:
# Corroboramos valores nulos
dataCopy.isnull().sum()

Fecha Alta        0
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

In [85]:
# Método de recorrido por el valor no nulos hacia adelante "Forward fill" ("ffill")
# dataCopy["Tipo"] = dataCopy["Tipo"].fillna(method = "ffill")
dataCopy["Tipo"] = dataCopy["Tipo"].ffill()

In [86]:
# Corroboramos valores nulos
dataCopy.isnull().sum()

Fecha Alta        0
Tipo              0
Operación         1
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

In [87]:
# Método de recorrido por el valor no nulos hacia atrás "Forward fill" ("bfill")
# dataCopy["Operación"] = dataCopy["Operación"].fillna(method = "bfill")
dataCopy["Operación"] = dataCopy["Operación"].bfill()

In [88]:
# Corroboramos valores nulos
dataCopy.isnull().sum()

Fecha Alta        0
Tipo              0
Operación         0
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

In [89]:
# Método de recorrido por el valor no nulos hacia adelante "Forward fill" ("ffill")
# dataCopy["Vendedor"] = dataCopy["Vendedor"].fillna(method = "ffill")
dataCopy["Vendedor"] = dataCopy["Vendedor"].ffill()

In [91]:
# Método de recorrido por el valor no nulos hacia atrás "Forward fill" ("bfill")
# dataCopy["Provincia"] = dataCopy["Provincia"].fillna(method = "bfill")
dataCopy["Provincia"] = dataCopy["Provincia"].bfill()

In [92]:
# Corroboramos valores nulos
dataCopy.isnull().sum()

Fecha Alta      0
Tipo            0
Operación       0
Provincia       0
Superficie      0
Precio Venta    0
Fecha Venta     0
Vendedor        0
dtype: int64

In [94]:
# Corroboramos valores nulos totales del dataframe
dataCopy.isnull().sum().sum()

0

## **Método de eliminación**

In [95]:
# Valores nulos por columna
data.isnull().sum()

Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        4
Precio Venta      6
Fecha Venta     578
Vendedor        578
dtype: int64

In [96]:
# Valores nulos por columna
dataDelete = data.copy()

In [100]:
# Elimina todo el registro
dataDelete = dataDelete.dropna()

In [102]:
# Corroboramos
dataDelete.isnull().sum()

Fecha Alta      0
Tipo            0
Operación       0
Provincia       0
Superficie      0
Precio Venta    0
Fecha Venta     0
Vendedor        0
dtype: int64

# Comparación del método de sustitución con Eliminación

In [106]:
# Sustitución
dataCopy.info()
len(dataCopy)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3337 entries, 0 to 3336
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha Alta    3337 non-null   object
 1   Tipo          3337 non-null   object
 2   Operación     3337 non-null   object
 3   Provincia     3337 non-null   object
 4   Superficie    3337 non-null   float64
 5   Precio Venta  3337 non-null   float64
 6   Fecha Venta   3337 non-null   object
 7   Vendedor      3337 non-null   object
dtypes: float64(2), object(6)
memory usage: 208.7+ KB

3337

In [107]:
# Eliminación
dataDelete.info()
len(dataDelete)

<class 'pandas.core.frame.DataFrame'>
Index: 2747 entries, 0 to 3045
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha Alta    2747 non-null   object
 1   Tipo          2747 non-null   object
 2   Operación     2747 non-null   object
 3   Provincia     2747 non-null   object
 4   Superficie    2747 non-null   float64
 5   Precio Venta  2747 non-null   float64
 6   Fecha Venta   2747 non-null   object
 7   Vendedor      2747 non-null   object
dtypes: float64(2), object(6)
memory usage: 257.7+ KB

2747

# Convertir mi dataframe sin Valores Nulos

In [108]:
# Convertir Dataframe a CSV
dataCopy.to_csv("InmueblesSinNulos.csv")

In [109]:
# Descargar archivo filtrado en csv
from google.colab import files

files.download("InmueblesSinNulos.csv")