<a href="https://colab.research.google.com/github/Angel353/Concentracion_CADII/blob/main/ValoresNulos/Tareas/Act_3_2_Valores_Nulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importar las librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# **Actividad Valores Nulos**

In [ ]:
from google.colab import files
files.upload()

In [25]:
df = pd.read_csv("Ventas_totales.csv")
df

,indice_tiempo,ventas_precios_corrientes,ventas_precios_constantes,ventas_totales_canal_venta,salon_ventas,canales_on_line,ventas_totales_medio_pago,efectivo,tarjetas_debito,tarjetas_credito,...,almacen,panaderia,lacteos,carnes,verduleria_fruteria,alimentos_preparados_rotiseria,articulos_limpieza_perfumeria,indumentaria_calzado_textiles_hogar,electronicos_articulos_hogar,otros
0,01/01/2017,27858.9,27477.3,2.785887e+07,2.759173e+07,2.671420e+05,2.785887e+07,1.023010e+07,6.864575e+06,9.047205e+06,...,6.705475e+06,9.459063e+05,2.880656e+06,2.606193e+06,1.050314e+06,3.407774e+05,4.397544e+06,7.723718e+05,1.838507e+06,2.806660e+06
1,01/02/2017,25994.2,25223.4,2.599420e+07,2.574918e+07,2.450208e+05,2.599420e+07,9.719067e+06,6.438494e+06,8.309150e+06,...,6.576625e+06,9.256186e+05,2.855640e+06,2.600084e+06,1.026167e+06,3.282887e+05,4.053284e+06,6.722905e+05,1.257662e+06,2.354085e+06
2,01/03/2017,27780.0,26334.3,2.778001e+07,2.747223e+07,3.077778e+05,2.778001e+07,1.024444e+07,6.908523e+06,8.845010e+06,...,7.437264e+06,1.016148e+06,3.188259e+06,2.824977e+06,1.075526e+06,3.533352e+05,4.354198e+06,6.676967e+05,1.305675e+06,2.266189e+06
3,01/04/2017,29134.3,27045.9,2.913427e+07,2.882748e+07,3.067927e+05,2.913427e+07,1.031263e+07,7.454252e+06,9.458167e+06,...,8.211244e+06,1.132396e+06,3.257140e+06,3.006159e+06,1.037213e+06,3.596945e+05,4.355707e+06,8.389482e+05,1.535726e+06,2.146756e+06
4,01/05/2017,27969.0,25631.9,2.796900e+07,2.756931e+07,3.996933e+05,2.796900e+07,1.014761e+07,6.735747e+06,9.220930e+06,...,7.651058e+06,1.033082e+06,3.232636e+06,2.799142e+06,9.826512e+05,3.365680e+05,4.206102e+06,9.158951e+05,1.824462e+06,2.117971e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,01/01/2022,154517.1,45463.4,1.545171e+08,1.496976e+08,4.819480e+06,1.545171e+08,4.696260e+07,4.605365e+07,5.404833e+07,...,3.750517e+07,4.860318e+06,1.610477e+07,1.740849e+07,6.138441e+06,1.401929e+06,2.133021e+07,3.782646e+06,1.218755e+07,1.343307e+07
61,01/02/2022,152202.6,23802.1,1.522026e+08,1.484065e+08,3.796044e+06,1.522026e+08,4.629096e+07,4.528358e+07,5.370589e+07,...,3.820979e+07,5.045920e+06,1.613982e+07,1.826074e+07,6.436028e+06,1.370640e+06,2.030545e+07,NaN,9.189746e+06,1.330139e+07
62,01/03/2022,16.5,24612.4,1.689825e+08,1.643211e+08,4.661350e+05,1.689825e+08,5.126208e+07,4.736436e+07,NaN,...,4.541886e+07,5.922820e+06,1.841916e+07,2.082760e+07,6.886240e+06,1.589119e+06,2.294201e+07,3.912852e+06,1.089879e+07,NaN
63,01/04/2022,177148.1,24140.5,1.771481e+08,1.730038e+08,4.144284e+06,1.771481e+08,5.319000e+07,5.006397e+07,6.535759e+07,...,4.999168e+07,6.746167e+06,1.930946e+07,2.287784e+07,6.510666e+06,1.719459e+06,2.313127e+07,4.228054e+06,NaN,1.191048e+07
64,01/05/2022,179639.2,23234.2,1.796392e+08,1.753585e+08,4.280751e+06,1.796392e+08,5.273811e+07,4.988679e+07,6.807009e+07,...,5.015035e+07,6.667330e+06,2.012112e+07,2.284153e+07,6.314109e+06,1.779483e+06,2.357864e+07,5.213153e+06,1.203960e+07,1.234998e+07

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 24 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   indice_tiempo                        65 non-null     object
 1   ventas_precios_corrientes            65 non-null     float64
 2   ventas_precios_constantes            65 non-null     float64
 3   ventas_totales_canal_venta           65 non-null     float64
 4   salon_ventas                         59 non-null     float64
 5   canales_on_line                      65 non-null     float64
 6   ventas_totales_medio_pago            65 non-null     float64
 7   efectivo                             65 non-null     float64
 8   tarjetas_debito                      64 non-null     float64
 9   tarjetas_credito                     58 non-null     float64
 10  otros_medios                         64 non-null     float64
 11  ventas_totales_grupo_articulos       65 non-null     float64
 12  subtotal_ventas_alimentos_bebidas    55 non-null     float64
 13  bebidas                              64 non-null     float64
 14  almacen                              63 non-null     float64
 15  panaderia                            64 non-null     float64
 16  lacteos                              64 non-null     float64
 17  carnes                               64 non-null     float64
 18  verduleria_fruteria                  64 non-null     float64
 19  alimentos_preparados_rotiseria       64 non-null     float64
 20  articulos_limpieza_perfumeria        65 non-null     float64
 21  indumentaria_calzado_textiles_hogar  63 non-null     float64
 22  electronicos_articulos_hogar         62 non-null     float64
 23  otros                                61 non-null     float64
dtypes: float64(23), object(1)
memory usage: 12.3+ KB

In [27]:
# Verificar solo los nulos de la columna
dfTotal = df.isnull().sum()
dfNulos = dfTotal[dfTotal > 0]
dfNulos

salon_ventas                            6
tarjetas_debito                         1
tarjetas_credito                        7
otros_medios                            1
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

In [28]:
# Se hace una copia del dataframe para modificar los nulos
dfLimpieza = df.copy()

Los valores nulos de la columna "salon_ventas" serán reemplazados por la mediana dado que no tenemos un rango definido y que además no queremos sesgar las ventas que se tuvieron utilizando promedios en caso de tener outliers muy extremos.

In [29]:
# Columna "salon_ventas"
dfLimpieza["salon_ventas"] = dfLimpieza["salon_ventas"].fillna(round(df["salon_ventas"].median(),1))

Los valores nulos de la columna "tarjetas_debito" serán reemplazadas por el promedio dado que buscamos estabilizar la sumatoria de esta columna para no descuadrarla respecto a la llamada "ventas_totales"

In [30]:
# Columna "tarjetas_debito"
dfLimpieza["tarjetas_debito"] = dfLimpieza["tarjetas_debito"].fillna(round(df["tarjetas_debito"].mean(),1))

Similar a la columna pasada, en este caso, para los valores nulos de la columna "tarjetas_credito", estas serán reemplazadas por el promedio dado que buscamos estabilizar la sumatoria de esta columna para no descuadrarla respecto a la llamada "ventas_totales"

In [31]:
# Columna "tarjetas_credito"
dfLimpieza["tarjetas_credito"] = dfLimpieza["tarjetas_credito"].fillna(round(df["tarjetas_credito"].mean(),1))

Similar a las anteriores dos columnas, en este caso, para los valores nulos de la columna "otros_medios", estas serán reemplazadas por el promedio dado que buscamos estabilizar la sumatoria de esta columna para no descuadrarla respecto a la llamada "ventas_totales"

In [32]:
# Columna "otros_medios"
dfLimpieza["otros_medios"] = dfLimpieza["otros_medios"].fillna(round(df["otros_medios"].mean(),1))

En cuanto a la columna "subtotal_ventas_alimentos_bebidas", estas se reemplazarán por la mediana ya que no es deseable sesgar los datos para los subtotales usando el promedio en caso de contar con la presencia de valores atípicos

In [33]:
# Columna "subtotal_ventas_alimentos_bebidas"
dfLimpieza["subtotal_ventas_alimentos_bebidas"] = dfLimpieza["subtotal_ventas_alimentos_bebidas"].fillna(round(df["subtotal_ventas_alimentos_bebidas"].median(),1))

Para la columna "bebidas" se decidió usar el promedio ya que no queremos afectar en gran escala la columna de los subtotales con los productos de alimentos y bebidas.

In [34]:
# Columna "bebidas"
dfLimpieza["bebidas"] = dfLimpieza["bebidas"].fillna(round(df["bebidas"].mean(),1))

En caso de la columna "almacen", el reemplazo será igual a la columna de las bebidas ya que pertenece igualmente a la sumatoria del subtotal de productos alimenticios por lo que se utilizará el promedio.

In [35]:
# Columna "almacen"
dfLimpieza["almacen"] = dfLimpieza["almacen"].fillna(round(df["almacen"].mean(),1))

La columna llamada "panadería" sigue la misma regla, el utilizar el promedio resulta fundamental para evitar la diferencia con respecto a los subtotales totales de los productos alimenticios.

In [36]:
# Columna "panaderia"
dfLimpieza["panaderia"] = dfLimpieza["panaderia"].fillna(round(df["panaderia"].mean(),1))

Lo mismo ocurre para la columna "lacteos" la cual pertenece a la sumatoria de la columna del subtotal de los productos alimenticios por lo que se usará el promedio para no descuadrar mucho la sumatoria.

In [37]:
# Columna "lacteos"
dfLimpieza["lacteos"] = dfLimpieza["lacteos"].fillna(round(df["lacteos"].mean(),1))

Caso similar para la columna "carnes" la cual pertenece a las columnas sumadas por la columna del subtotal, además, dado que solo es un valor nulo, no afectará mucho su reemplazo en la detección de outliers.

In [38]:
# Columna "carnes"
dfLimpieza["carnes"] = dfLimpieza["carnes"].fillna(round(df["carnes"].mean(),1))

Las columnas llamadas "verduleria_fruteria" y "alimentos_preparados_rotiseria" también pertenecen a la sumatoria de los subtotales por lo que sus valores nulos también serán procesados por el promedio.

In [39]:
# Columna "verduleria_fruteria"
dfLimpieza["verduleria_fruteria"] = dfLimpieza["verduleria_fruteria"].fillna(round(df["verduleria_fruteria"].mean(),1))

In [40]:
# Columna "alimentos_preparados_rotiseria"
dfLimpieza["alimentos_preparados_rotiseria"] = dfLimpieza["alimentos_preparados_rotiseria"].fillna(round(df["alimentos_preparados_rotiseria"].mean(),1))

Para la columna llamada "indumentaria_calzado_textiles_hogar", se realizará el reemplazamiento de nulos por el método de la moda, ya que no hay tantos registros para sesgar una posterior operación estadística y sus resultados no están vinculados a otras columnas.

In [41]:
# Calcular la moda de la columna en el df original:
moda = df['indumentaria_calzado_textiles_hogar'].mode()[0]
moda
# Reemplazar los valores nulos por la moda
dfLimpieza['indumentaria_calzado_textiles_hogar'] = dfLimpieza['indumentaria_calzado_textiles_hogar'].fillna(moda)

Para la columna "electronicos_articulos_hogar", dado que no está vinculada a otra columna como de subtotales y que tampoco se tienen muchos valores nulos, estas se reemplazarán por la moda.

In [42]:
# Calcular la moda de la columna en el df original:
modaElec = df['electronicos_articulos_hogar'].mode()[0]
modaElec
# Reemplazar los valores nulos por la moda
dfLimpieza['electronicos_articulos_hogar'] = dfLimpieza['electronicos_articulos_hogar'].fillna(modaElec)

Finalmente, para la columna "otros", estas serán reemplazadas por la mediana, ya que no existe contexto suficiente de esta columna para evaluar la importancia de la misma dentro del dataframe, y además tampoco tenemos el conocimiento sobre los valores atípicos que se podrían tener, se prefiere ser precavidos y utilizar la mediana.

In [43]:
# Columna "otros"
dfLimpieza["otros"] = dfLimpieza["otros"].fillna(round(df["otros"].median(),1))

In [48]:
# Comprobamos los valores nulos del dataframe tras el proceso de limpieza:
dfLimpio = dfLimpieza.isnull().sum()
dfLimpio.sum()

0

In [50]:
# Convertir Dataframe a CSV
dfLimpieza.to_csv("VentasTotalesNotNull.csv")

In [51]:
# Descargar archivo filtrado en csv
from google.colab import files

files.download("VentasTotalesNotNull.csv")